body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.third h1{

}
.button{
font-size:30px;
}

.button button{
float:right;
font-size:20px;
font-color:black;
text-align:center;
background-color:#ADD8E6;
}

.heading{
padding:30px;
margin:40px;
float:right;
text-align:center;
text-decoration-line:underline;
}
.footer{
background-color:#808080;
}
.footer h1{
font-color:#ffffff;
text-align:center;
text-decoration-line:underline;


}
.footer p{
padding:20px;
font-color:white;
}
.first{
float:left;
width:33.33%;
padding:50px;}
.pic{
float:left;
width:33.33%;
padding50px;}